src/main/app/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:request-config name="HTTP_Request_Configuration" host="localhost" port="8081" doc:name="HTTP Request Configuration"/>
    <flow name="choiceFlights">
        <set-variable variableName="destino" value="#[message.inboundProperties.'http.query.params'.destino]" doc:name="Variable"/>
        <choice doc:name="Choice">
            <when expression="#[flowVars.destino!=empty]">
                <flow-ref name="getFlighFlow" doc:name="Flow Reference"/>
            </when>
            <otherwise>
                <flow-ref name="getAllFlightsFlow" doc:name="Flow Reference"/>
            </otherwise>
        </choice>
    </flow>
    <flow name="getAllFlightsFlow">
        <http:request config-ref="HTTP_Request_Configuration" path="/procapi/flights" method="HEAD" doc:name="HTTP"/>
    </flow>
    <flow name="getFlighFlow">
        <http:request config-ref="HTTP_Request_Configuration" path="/procapi/flights" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:query-param paramName="destino" value="#[destino]"/>
            </http:request-builder>
        </http:request>
    </flow>
</mule>
